<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Novel_Free</title>
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
  />
</head>
<body>
  <main class="container">
    <h1>웹소설 영끌 루트!</h1>
    <h4>무슨 소설을 원하시나요?</h4>
    <form action="/search">
      <input type="text" name="keyword" placeholder="원하는 소설을 입력하세요" required>
      <button>Search</button>
    </form>
  </main>
</body>
</html>